/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,html, body {
    padding:0;
    margin: 0;
}

font-face {
    font-family: porsche;
    src: url(./assets/Porsche\ Regular.ttf);
}

.porsche {
    font-family: porsche;
}
